@{
}  

    <div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="~/assets/images/gym-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>work harder, get stronger</h6>
            <h2>easy with our <em>gym</em></h2>
            <div class="main-button scroll-to-section">
                <a href="#contact-us">Become a member</a>
            </div>
        </div>
    </div>
    </div>

<partial name="_programs" />

<partial name="_dontThink" />

<partial name="_classes" />

@if (User.Identity.IsAuthenticated)
{
    <partial name="_schedule" />
}

<partial name="_trainers" />

